{{!--  --}}
{{!--  --}}
<div class="container mt-5">
    <div class="row">
        {{#each noteList}}
        <div class="col-md-3">
            <div class="card m-2">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">{{ title }} <a
                            href="/note/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                    <p>{{ description }}</p>
                    <p class="text-muted">{{timeago date }}</p>
                    {{!-- form hidden --}}
                    <form action="/note/delete/{{_id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">There are not notes yet.</p>
                <a href="/note/add" class="btn btn-primary btn-block">Create One !!!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>